<h1>Add a product</h1>

<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
 
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag '/products' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title, @product.title %>

  <%= label_tag :price %>
  <%= text_field_tag :price, @product.price %>

  <%= label_tag :description %>
  <%= text_field_tag :description, @product.description %>

  <%= label_tag :image %>
  <%= text_field_tag :image, @product.image %>

  <%= submit_tag "Add Product" %>
<% end %>